<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cloud.activiti.mapper.LeaveApplyMapper">
  
  <select id="get" resultType="LeaveApply" parameterType="int">
    SELECT
     * from leaveapply 
    WHERE
     id=#{id}
  </select>
  
  <insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="LeaveApply">
    INSERT INTO leaveapply
    (id,process_instance_id,user_id,start_time,end_time,leave_type,reason,apply_time,reality_start_tim
    e,reality_end_time)
    VALUES
    (#{id},#{process_instance_id},#{user_id},#{start_time},#{end_time},#{leave_type},#{reason},#{apply_time},#{reality
    _start_time},#{reality_end_time})
  </insert>
  
  <update id="update" parameterType="LeaveApply">
    UPDATE leaveapply 
    SET process_instance_id =#{process_instance_id},
      reality_start_time=#{reality_start_time},
      reality_end_time=#{reality_end_time},
      start_time=#{start_time},
      end_time=#{end_time},
      leave_type=#{leave_type},
      reason=#{reason}
    WHERE id=#{id}
  </update>
</mapper>