<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cloud.activiti.mapper.PermissionMapper">
  <select id="getPermissions" resultType="Permission">
    SELECT
      *
    FROM
      `T_PERMISSION`
  </select>

  <select id="getPermissionByName" resultType="Permission">
    SELECT
      *
    FROM
      `T_PERMISSION`
    WHERE
      permission_name=#{permissionName}
  </select>

  <insert id="addPermission">
    INSERT INTO
      `T_PERMISSION` (permission_name)
    VALUES
      (#{permissisonName})
  </insert>

  <delete id="deletePermission">
    DELETE FROM 
      `T_PERMISSION`
    WHERE 
      pid=#{pid}
  </delete>

  <delete id="deleteRolePermission">
    DELETE FROM 
      `T_PERMISSION`
    WHERE 
      permission_id=#{permissionId}
  </delete>
</mapper>