<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cloud.activiti.mapper.RoleMapper">

  <resultMap type="Role" id="roleMap">
    <id column="rid" property="rid"></id>
    <result column="rolename" property="rolename" />
    <collection property="role_permissions" column="roleid" ofType="RolePermission">
      <id property="rpid" column="rpid" />
      <association column="permissionid" property="permission" javaType="Permission">
        <id column="pid" property="pid"></id>
        <result column="permissionname" property="permissionname" />
      </association>
    </collection>
  </resultMap>

  <select id="getRoles" resultType="Role">
    select * from role
  </select>

  <select id="getRoleinfo" resultMap="roleMap">
    select * from role left join role_permission on
    role.rid=role_permission.roleid left join permission
    on role_permission.permissionid=permission.pid
  </select>
  <insert id="adduserrole" useGeneratedKeys="true" keyProperty="urid" parameterType="UserRole">
    insert into user_role (userid,roleid)
    values (#{user.uid},#{role.rid})
  </insert>
  
  <select id="getRoleidbyName" resultType="Role" parameterType="String">
    select * from role where rolename=#{rolename}
  </select>
  
  <insert id="addRole" useGeneratedKeys="true" keyProperty="rid" parameterType="Role">
    insert into role (rolename) values(#{rolename})
  </insert>
  <insert id="addRolePermission" useGeneratedKeys="true" keyProperty="rpid" parameterType="RolePermission">
    insert into role_permission(roleid,permissionid)
    values (#{role.rid},#{permission.pid})
  </insert>
  
  <delete id="deleterole" parameterType="Role">
    delete from role where rid=#{rid}
  </delete>
  
  <delete id="deleterole_permission" parameterType="int">
    delete from role_permission where roleid=#{roleid}
  </delete>
  <delete id="deleteUserRole" parameterType="int">
    delete from user_role where roleid=#{roleid}
  </delete>
  <select id="getRoleById" parameterType="int" resultMap="roleMap">
    select * from role left join role_permission on
    role.rid=role_permission.roleid left join permission
    on role_permission.permissionid=permission.pid where role.rid=#{rid}
  </select>
</mapper>