<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cloud.activiti.mapper.RoleMapper">

  <resultMap type="Role" id="roleMap">
    <id column="rid" property="rid"></id>
    <result column="role_name" property="roleName" />
    <result column="role_desc" property="roleDesc" />
    <collection property="rolePermissions" column="role_id" ofType="RolePermission">
      <id property="rpid" column="rpid" />
      <association column="permission_id" property="permission" javaType="Permission">
        <id column="pid" property="pid"></id>
        <result column="permission_name" property="permissionName" />
      </association>
    </collection>
  </resultMap>

  <select id="getRoles" resultType="Role">
    SELECT
      * 
    FROM
      `T_ROLE`
  </select>

  <select id="getRoleInfo" resultMap="roleMap">
    SELECT * 
    FROM 
      `T_ROLE` 
    LEFT JOIN 
      `T_ROLE_PERMISSION` ON `T_ROLE`.rid=`T_ROLE_PERMISSION`.role_id 
    LEFT JOIN 
      `T_PERMISSION` ON `T_ROLE_PERMISSION`.permission_id=`T_PERMISSION`.pid
  </select>
  
  <insert id="addUserRole" useGeneratedKeys="true" keyProperty="urid" parameterType="UserRole">
    INSERT INTO 
      `T_USER_ROLE` (user_id,role_id)
    VALUES 
      (#{user.uid},#{role.rid})
  </insert>
  
  <select id="getRoleByName" resultMap="roleMap" parameterType="String">
    SELECT 
      *
    FROM 
      `T_ROLE` 
    LEFT JOIN 
      `T_ROLE_PERMISSION` ON `T_ROLE`.rid=`T_ROLE_PERMISSION`.role_id 
    LEFT JOIN 
      `T_PERMISSION` ON `T_ROLE_PERMISSION`.permission_id=`T_PERMISSION`.pid 
    WHERE 
      `T_ROLE`.role_name=#{roleName}
  </select>
  
  <insert id="addRole" useGeneratedKeys="true" keyProperty="rid" parameterType="Role">
    INSERT INTO 
      `T_ROLE` (role_name, role_desc)
    VALUES
      (#{roleName}, #{roleDesc})
  </insert>
  <insert id="addRolePermission" useGeneratedKeys="true" keyProperty="rpid" parameterType="RolePermission">
    INSERT INTO 
      `T_ROLE_PERMISSION`(role_id,permission_id)
    VALUES
      (#{role.rid},#{permission.pid})
  </insert>
  
  <delete id="deleteRole" parameterType="Role">
    DELETE FROM 
      `T_ROLE` 
    WHERE 
      rid=#{rid}
  </delete>
  
  <delete id="deleteRolePermission" parameterType="int">
    DELETE FROM
      `T_ROLE_PERMISSION`
    WHERE
      roleid=#{roleid}
  </delete>
  
  <delete id="deleteUserRole" parameterType="int">
    DELETE FROM 
      `T_USER_ROLE` 
    WHERE
      roleid=#{roleid} 
  </delete>
  
  <select id="getRoleById" parameterType="int" resultMap="roleMap">
    SELECT * 
    FROM 
      `T_ROLE` 
    LEFT JOIN 
      `T_ROLE_PERMISSION` ON `T_ROLE`.rid=`T_ROLE_PERMISSION`.role_id 
    LEFT JOIN 
      `T_PERMISSION` ON `T_ROLE_PERMISSION`.permission_id=`T_PERMISSION`.pid 
    WHERE 
      `T_ROLE`.rid=#{rid}
  </select>
</mapper>