<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cloud.activiti.mapper.RoleMapper">

  <resultMap type="Role" id="roleMap">
    <id column="rid" property="rid"></id>
    <result column="rolename" property="roleName" />
    <collection property="rolePermissions" column="roleid" ofType="RolePermission">
      <id property="rpid" column="rpid" />
      <association column="permissionid" property="permission" javaType="Permission">
        <id column="pid" property="pid"></id>
        <result column="permissionname" property="permissionName" />
      </association>
    </collection>
  </resultMap>

  <select id="getRoles" resultType="Role">
    SELECT * 
    FROM t_role
  </select>

  <select id="getRoleInfo" resultMap="roleMap">
    SELECT * 
    FROM 
      t_role 
    LEFT JOIN 
      t_role_permission ON t_role.rid=t_role_permission.roleid 
    LEFT JOIN 
      t_permission ON t_role_permission.permissionid=t_permission.pid
  </select>
  
  <insert id="addUserRole" useGeneratedKeys="true" keyProperty="urid" parameterType="UserRole">
    INSERT INTO 
      t_user_role (userid,roleid)
    VALUES 
      (#{user.uid},#{role.rid})
  </insert>
  
  <select id="getRoleByName" resultMap="roleMap" parameterType="String">
    SELECT * 
    FROM 
      t_role 
    LEFT JOIN 
      t_role_permission ON t_role.rid=t_role_permission.roleid 
    LEFT JOIN 
      t_permission ON t_role_permission.permissionid=t_permission.pid 
    WHERE 
      t_role.rolename=#{roleName}
  </select>
  
  <insert id="addRole" useGeneratedKeys="true" keyProperty="rid" parameterType="Role">
    INSERT INTO 
      t_role (rolename)
    VALUES
      (#{roleName})
  </insert>
  <insert id="addRolePermission" useGeneratedKeys="true" keyProperty="rpid" parameterType="RolePermission">
    INSERT INTO 
      t_role_permission(roleid,permissionid)
    VALUES
      (#{role.rid},#{permission.pid})
  </insert>
  
  <delete id="deleteRole" parameterType="Role">
    DELETE FROM 
      t_role 
    WHERE 
      rid=#{rid}
  </delete>
  
  <delete id="deleteRolePermission" parameterType="int">
    DELETE FROM
      t_role_permission
    WHERE
      roleid=#{roleid}
  </delete>
  
  <delete id="deleteUserRole" parameterType="int">
    DELETE FROM 
      t_user_role 
    WHERE roleid=#{roleid} 
  </delete>
  
  <select id="getRoleById" parameterType="int" resultMap="roleMap">
    SELECT * 
    FROM 
      t_role 
    LEFT JOIN 
      t_role_permission ON t_role.rid=t_role_permission.roleid 
    LEFT JOIN 
      t_permission ON t_role_permission.permissionid=t_permission.pid 
    WHERE 
      t_role.rid=#{rid}
  </select>
</mapper>