<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cloud.activiti.mapper.UserMapper">

  <resultMap type="User" id="userMap">
    <id column="uid" property="uid"></id>
    <result column="username" property="username" />
    <result column="password" property="password" />
    <result column="tel" property="tel" />
    <result column="age" property="age" />
    <result column="mail" property="mail" />
    <collection property="userRoles" column="userid" ofType="UserRole">
      <id property="urid" column="urid" />
      <association column="role_id" property="role" javaType="Role">
        <id column="rid" property="rid"></id>
        <result column="role_name" property="roleName" />
      </association>
    </collection>
  </resultMap>
  
  <select id="getUsers" resultMap="userMap">
    SELECT *
    FROM 
      `T_USER`
    LEFT JOIN 
      `T_USER_ROLE` ON T_USER.uid=`T_USER_ROLE`.user_id
    LEFT JOIN 
      `T_ROLE` ON `T_USER_ROLE`.role_id=`T_ROLE`.rid
  </select>

  <select id="getUserById" resultMap="userMap">
    SELECT
      * 
    FROM
      `T_USER` 
    LEFT JOIN
      `T_USER_ROLE` ON `T_USER`.uid=`T_USER_ROLE`.user_id 
    LEFT JOIN
      `T_ROLE` ON `T_USER_ROLE`.role_id=`T_ROLE`.rid
    WHERE 
      `T_USER`.uid=#{uid}
  </select>

  <delete id="deleteUser" parameterType="int">
    DELETE FROM 
      `T_USER`
    WHERE
      `T_USER`.uid=#{uid}
  </delete>

  <delete id="deleteUserRole" parameterType="int">
    DELETE FROM 
      `T_USER_ROLE`
    <where>
      `T_USER_ROLE`.user_id=#{uid}
    </where>
  </delete>

  <insert id="addUser" useGeneratedKeys="true" keyProperty="uid" parameterType="User">
    INSERT INTO 
      `T_USER` (username,password,tel,age)
    VALUES
     (#{username},'1234',#{tel},#{age})
  </insert>

  <update id="updateUser" parameterType="User">
    UPDATE
      `T_USER`
    SET
      tel=#{tel},age=#{age}
    <where>
      `T_USER`.uid=#{uid}    
    </where>
  </update>

  <select id="getUidByUserName" resultType="int" parameterType="String">
    SELECT 
      uid
    FROM
      `T_USER`
    <where>
      username=#{username}
    </where>
  </select>

  <select id="getUserByName" resultMap="userMap">
    SELECT
      * 
    FROM
      `T_USER`
    LEFT JOIN
      `T_USER_ROLE` ON `T_USER`.uid=`T_USER_ROLE`.user_id 
    LEFT JOIN
      `T_ROLE` ON `T_USER_ROLE`.role_id=`T_ROLE`.rid
    WHERE 
      `T_USER`.username=#{username}
  </select>
</mapper>